*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 16px;
}

.container {
  margin: 20px auto;
  position: relative;

  width:  100%;

}
.emphasis {
  display: block;
  text-align: center;
  font-size: 2em;
  padding: 10%
}
.preview {
  margin: 0 0 5% 0;
  padding: 8% 0% 50% 0;
  width: 100%;
  font-size: 2.5em;

}
.baku {
    background-image: url("../images/baku.jpg");
    background-size: cover;
}
.london{
    background-image: url("../images/london.png");
    background-size: cover;

}
.madrid{
    background-image: url("../images/madrid.jpg");
    background-size: cover;
}
.rome{
    background-image: url("../images/rome.jpg");
    background-size: cover;
}

/* default styles */


@media (min-width: 575px) {
  /* overrides default styles */
}

@media (min-width: 991px) {
  /* overrides any mobile styles */
}

@media (min-width: 1199px) {
    /* overrides any tablet styles */
}
# css-exercise-four
